<div class="flex justify-center mt-12">
  <div class="w-full max-w-3xl">
    <!-- Encabezado -->
    <div class="flex justify-between items-center mb-8">
      <div>
        <h2 class="text-2xl font-bold text-purple-800">Mis Presupuestos</h2>
        <p class="text-sm text-gray-600">
          Maneja y administra tus presupuestos
        </p>
      </div>
      <button
        (click)="openModal('create')"
        class="px-5 py-2 bg-orange-500 text-white rounded-lg shadow-md hover:bg-orange-600 transition"
      >
        Crear Presupuesto
      </button>
    </div>

    <!-- Tabla reutilizable -->
    <app-list-common
      [clickableName]="true"
      nameRouteKey="link"
      [data]="presupuestos"
      [actions]="acciones"
      (action)="handleAction($event)"
    >
    </app-list-common>

    <!-- 🔹 Paginación -->
    <!--<div class="flex justify-center items-center mt-4 space-x-2">
      <button (click)="changePage(page - 1)"
              [disabled]="page === 1"
              class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50">
        ⬅ Anterior
      </button>
      <span>Página {{ page }} de {{ totalPages }}</span>
      <button (click)="changePage(page + 1)"
              [disabled]="page * limit >= total"
              class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50">
        Siguiente ➡
      </button>
    </div>-->
    <app-pagination
      [total]="total"
      [limit]="limit"
      [page]="page"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>

    <app-form
      [visible]="modalVisible"
      [mode]="modalMode"
      [budgetData]="selectedBudget"
      (close)="closeModal()"
      (save)="saveBudget($event)"
    ></app-form>
  </div>
</div>
